.nav {
    grid-area: n;
    background-color: darkslateblue;
    padding: 20px;
}
.item a {
    color: white;
    text-decoration: none;
}
.item a:active, /*ссылка становится желтой при нажатии на нее на секунду*/
.item a:focus {  /*ссылка остается желтой пока в фокусе*/
    color: gold;
}
