.app-wrapper {
    display: grid;
    margin: auto;
    width: 1900px;
    grid-template-areas:
       "h h"
        "n c";

    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
/*grid-gap: 10px;*/
}

.nav {
    grid-area: n;
    background-color: palegreen;
}

.header {
    grid-area: h;
    background-color: darkseagreen;
}
.header img {
    width: 100px;
}
.content {
    grid-area: c;
    background-color: bisque;
}
.content img {
    width: 100%;
}