.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs .dialogsItems {
    padding: 10px;
}

/*.dialogs .dialogsItems .dialog {
    color: darkslateblue;
    text-decoration: none;
}
.dialogs .dialogsItems .dialog a:active,
.dialogs .dialogsItems .dialog a:focus {
    color: gold;
}*/

.dialogs .messages {
    padding: 10px;
}

.dialogs .messages .message {

}