.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs .dialogsItems {
    padding: 10px;
}

.dialogs .dialogsItems .dialog:active,
.dialogs .dialogsItems .dialog:focus {
    color: gold;
}

.dialogs .messages {
    padding: 10px;
}

.dialogs .messages .message {

}